.input-border-base {
    background: linear-gradient(to right, rgba(160, 2, 233, 0.7),rgba(99, 42, 166, 0.4), rgba(160, 2, 233, 0.7),rgba(99, 42, 166, 0.4), rgba(160, 2, 233, 0.7));
    opacity: 0.7;
    border-radius: 0.5rem;
    padding: 1px;    
}

.input-border-base .input-border {
    background: black;
    color: white;
    border-color: transparent;
    border-radius: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button-border {
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* size xs-max */
@media (max-width: 450px) {
    .input-border-base .input-border {
        border-radius: 0.5rem;
    }

    .button-border {
        border-radius: 0.5rem;
    }
}

/* size md-min */
@media (min-width: 768px) {

}